@import "tailwindcss";

:root {
  --header-background: #E0F0F0;
  --carousel-background: #F9F9F9;
  --background: #E4F1F1;
  --button-texts: #ACD3D3;
  --price: #9FC8C8;
  --carousel-arrows: #9BC3C3;

  --drop-shadow: #000000;

  --header-height: 120px;
  --footer-height: 100px;

  --font-color: #FFFFFF;
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #E4F1F1;
    --foreground: #E4F1F1;
  }
}

body {
  background: var(--background);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/** Header **/
.header {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  align-items: center;
  color: var(--font-color);

  background-color: var(--header-background);
  gap: 500px;
  box-shadow: 0px 10px 25px rgba(69, 64, 64, 0.25);
  position: relative;
  z-index: 5;
}

.logoSearchContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
}

.shopProfileContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}

.searchFunction {
  position: relative;
  width: 550px;
}

#searchFunction {
  background: white;
  color: rgb(189, 188, 188);
  width: 100%;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(69, 64, 64, 0.25);
  outline: none;
  padding: 0.9rem, 3rem, 0.9rem, 1.4rem;
  text-align: left;
  padding-left: 1.2rem;
  box-sizing: border-box;
}

.searchButton {
  position: absolute;
  right: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.logIn {
  position: relative;
}

.logOrRegister {
  background: none;
  border: none;
  cursor: pointer;
}

.profileDropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  background: var(--background);
  box-shadow: 0px 4px 4px rgba(69, 64, 64, 0.25);
  min-width: 150px;
}

.profileDropdown button {
  width: 100%;
  padding: 0.75rem 1rem;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.shoppingCartBtn {
  cursor: pointer;
}

.profileDropdown:hover {
  color: var(--button-texts);
}




/** Carousel **/
.rotatingItems {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: var(--carousel-background);
  box-shadow: 0px 4px 4px rgba(69, 64, 64, 0.25);
  overflow: hidden;
  z-index: 1;
  padding-bottom: 4rem;
}

.carouselViewPort::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.rotatingItems ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rotatingItems button {
  cursor: pointer;
}

.carouselViewPort {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carouselSlide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselSlide:before {
  display: none;
}

.carouselSnapper {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselNav {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  text-align: center;
  z-index: 2;
}

.carouselNavList,
.carouselNavItem {
  display: inline-block;
}

.carouselNavBtn {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--carousel-arrows);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
  cursor: pointer;
}

.carouselNavBtn:hover {
  transform: scale(1.1);
}

.carouselPrev,
.carouselNext {
  font-size: 0;
}

.carouselNav a {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--carousel-arrows);
  border-radius: 50%;
  margin: 0 0 0.3rem;
  font-size: 0;
  opacity: 0.6;
}

.carouselNav a:hover {
  opacity: 1;
}

.carouselPrev,
.carouselNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  z-index: 5;
  pointer-events: auto;
}

.carouselPrev::before,
.carouselNext::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.carouselPrev {
  left: 25%;
}

.carouselNext {
  right: 25%;
}

.carouselPrev::before {
  background-image: url("/left_arrow_carousel.png");
}

.carouselNext::before {
  background-image: url("/right_arrow_carousel.png");
}

/** Carousel Cards **/
.carouselCard {
  display: flex;
  height: 250px;
  width: 250px;
  position: relative;
  background-color: var(--header-background);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(69, 64, 64, 0.25);
}

.imageWrapper {
  position: relative;
}

.carouselCardHeader {
  position: absolute;
  top: 10px;
  color: black;
  background-color: transparent;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 60px;
}

.productLearnMore {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

#productName {
  font-size: 30px;
  font-weight: 800;
  color: black;
}

#productPrice {
  font-size: 30px;
  color: var(--button-texts);
}


/** Featured Products **/
.mainContent {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  color: var(--font-color);
}

.featuredProducts {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: column;
  gap: 16px;
  padding-bottom: 80px;
  position: relative;
}

.fpHeader {
  text-align: center;
}

.featuredProductsTitle {
  padding-top: 25px;
  font-size: 40px;
  font-weight: 800;
  color: black;
}

.fpCard {
  width: 230px;
  flex-direction: column;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  gap: 8px;
}

.fpCards {
  display: flex;
  gap: 50px;
}

.productWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fpImageWrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  width: 210px;
  height: 210px;
  position: relative;
}

.fpImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fProductName {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: black;
}

#fProductPrice {
  color: var(--button-texts);
  text-align: left;
}

.fpBtns {
  display: flex;
  gap: 8px;
}

.fpBtns button {
  flex: 1;
  height: 50px;
  font-size: 15px;
  padding: 6px 8px;
  width: 120px !important;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  color: var(--button-texts);
}

.viewProductListings {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.viewPLBtn {
  padding: 10px 10px;
  width: 120px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  color: var(--button-texts);
}





/** Footer **/
.footer {
  display: flex;
  height: var(--footer-height);
  overflow: auto;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 250px;

  background-color: #F9F9F9;
}